:where(.css-dev-only-do-not-override-xu9wm8).ant-image .ant-image-img {
  height: 250px !important;
}

:where(
    .css-dev-only-do-not-override-xu9wm8
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select,
:where(
    .css-dev-only-do-not-override-xu9wm8
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  height: 380px !important;
  width: 100% !important;
}

img {
  object-fit: cover;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
section {
  padding-top: 70px;
}

@media screen and (max-width: 660px) {
  section {
    padding-top: 100px !important;
  }
}
